{% extends 'base.html' %}
{% block title %}
     Home
{% endblock %}
{% block content %}
<div class="bgimgig">

          <div class="middle">
            <h1> Hello, I have something for you</h1>
            <hr>
            <p>Sign In Now </p>
          </div>
        </div>
{% endblock %}