{% extends 'base.html' %}
{% block title %}
     Home
{% endblock %}
{% block content %}

<div class="bgimg">
          <div class="topleft">
                    <p>You have visited this page {{ num_visits }} {% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
          </div>
          <div class="middle">
            <h1> Hello, {{user.username}}. Welcome Home</h1>
            <p>Remember that you are Precious in God's Eye</p>
          </div>
          <div class="bottomleft">
                    <button id="myBtn" type="button" class="btn btn-info btn-lg">
                              Sign out
                           </button>
          </div>
        </div>

        <div id="myModal" class="modal">

               <!-- Modal content -->
               <div class="modal-content">
                 <div class="modal-header">
                   <h4 class="hoe">Are you sure want to log out ? </h4>
                   <span class="close">&times;</span>
                 </div>
                 <div class="modal-body text-center">
                    <a href="{% url 'logout'%}"><button class="btnl btn btn-success" type="button">
                         Yes
                   </button></a>
                   <a href="{% url 'index'%}"><button class="btnl btn btn-danger" type="button">
                         No
                    </button></a>
                 </div>
               </div>
             </div>
          </div>
{% endblock %}